@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider context

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Zeni Control Suite</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">

            <AuthorizeView>
                <Authorized>
                    <div class="user-info-container">
                        <img src="@context.GetAvatar()" alt="User Avatar"/>
                        <div class="user-info-text">
                            <div> @context.GetUserName()</div>
                            <a href="Account/LogOut" style="width: min-content"> Log Out</a>
                        </div>
                    </div>

                    @* 
                    <div>@context.GetUserName()</div>
                    <div>@context.GetAvatar()</div>
                    @foreach (var role in context.GetRoles())
                    {
                    <div>@role</div>
                    }
                    *@


                    @if (Pages.AvatarOSC.pageEnabled)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="AvatarOSC">
                                <MudIcon Icon="@Icons.Material.Filled.WifiTethering"></MudIcon>
                                <span style="padding: 0 8px;">Avatar Controls</span>
                            </NavLink>
                        </div>
                    }

                    @if (Pages.GamesPoints.pageEnabled)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Points&Games">
                                <MudIcon Icon="@Icons.Material.Filled.Games"></MudIcon>
                                <span style="padding: 0 8px;">Points & Games</span>
                            </NavLink>
                        </div>
                    }

                    @if (Pages.BindingManager.pageEnabled)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Bindings">
                                <MudIcon Icon="@Icons.Material.Filled.Lock"></MudIcon>
                                <span style="padding: 0 8px;">Binding Unlocks</span>
                            </NavLink>
                        </div>
                    }

                    @* 
                    @if (Pages.Devices.pageEnabled)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Devices">
                                <MudIcon Icon="@Icons.Material.Filled.SettingsRemote"></MudIcon>
                                <span style="padding: 0 8px;">Device Controls</span>
                            </NavLink>
                        </div>
                    }
                    *@

                </Authorized>

                <NotAuthorized>
                    <NavLink class="nav-link" href="Account/Login">
                        <MudIcon Icon="@Icons.Material.Filled.Login"></MudIcon>
                        <span style="padding: 0 8px;"> Log in </span>
                    </NavLink>
                </NotAuthorized>

            </AuthorizeView>
            
        </div>

    </nav>
</div>

