@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Zeni Control Suite</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">

            <AuthorizeView>
                <Authorized>
                    <div class="user-info-container">

                        <MudAvatar>
                            <MudImage src="@context.GetAvatar()" Alt="User Avatar"></MudImage>
                        </MudAvatar>

                        <div class="user-info-text">
                            <div> @context.GetUserName()</div>
                            <a href="Api/Account/LogOut" style="width: min-content"> Log Out</a>
                        </div>
                    </div>

                    @if (context.User.IsInRole("Admin") || (Pages.AvatarOSC.pageEnabled && context.User.IsInRole("AvatarOSC")))
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="AvatarOSC">
                                <MudIcon Icon="@Icons.Material.Filled.WifiTethering"></MudIcon>
                                <span style="padding: 0 8px;">Avatar Controls</span>
                            </NavLink>
                        </div>
                    }

                    @if (context.User.IsInRole("Admin") || (Pages.GamesPoints.pageEnabled && context.User.IsInRole("GamesPoints")))
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Games&Points">
                                <MudIcon Icon="@Icons.Material.Filled.Games"></MudIcon>
                                <span style="padding: 0 8px;">Games & Points</span>
                            </NavLink>
                        </div>
                    }

                    @if (context.User.IsInRole("Admin") || (Pages.Bindings.pageEnabled && context.User.IsInRole("Bindings")))
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Bindings">
                                <MudIcon Icon="@Icons.Material.Filled.Lock"></MudIcon>
                                <span style="padding: 0 8px;">Binding Unlocks</span>
                            </NavLink>
                        </div>
                    }

                    @if (context.User.IsInRole("Admin") || (Pages.Devices.pageEnabled && context.User.IsInRole("Intiface") || context.User.IsInRole("Shocker")))
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Devices">
                                <MudIcon Icon="@Icons.Material.Filled.SettingsRemote"></MudIcon>
                                <span style="padding: 0 8px;">Device Controls</span>
                            </NavLink>
                        </div>
                    }

                    @if (context.User.IsInRole("Admin") || context.User.IsInRole("LocalHost"))
					{
						<div class="nav-item px-3">
							<NavLink class="nav-link" href="Settings">
								<MudIcon Icon="@Icons.Material.Filled.Settings"></MudIcon>
								<span style="padding: 0 8px;">Settings</span>
							</NavLink>
						</div>

                        <div class="nav-item px-3">
							<NavLink class="nav-link" href="Logs">
								<MudIcon Icon="@Icons.Material.Filled.List"></MudIcon>
								<span style="padding: 0 8px;">Logs</span>
							</NavLink>
                        </div>
					}

                    @* Debug Roles *@
                    <div class="nav-item px-3">
						<MudDivider />
                        <span style="padding: 0 8px;">Roles Debug:</span>
                        @try
                        {
                            @foreach (string role in context.GetRoles())
                            {
                                <div class="nav-item px-3">
                                    <MudIcon Icon="@Icons.Material.Filled.Security"></MudIcon>
                                    <span style="padding: 0 8px;">@role</span>
                                </div>
                            }
                        }
                        catch (Exception e)
						{
							<div class="nav-item px-3">
								<MudIcon Icon="@Icons.Material.Filled.Security"></MudIcon>
								<span style="padding: 0 8px;">Error</span>
							</div>
						}
					</div>

                </Authorized>

                <NotAuthorized>
                    <NavLink class="nav-link" href="Api/Account/Login">
                        <MudIcon Icon="@Icons.Material.Filled.Login"></MudIcon>
                        <span style="padding: 0 8px;"> Log in </span>
                    </NavLink>
                </NotAuthorized>

            </AuthorizeView>
            
        </div>

    </nav>
</div>

@code {
  private bool _sidebarOpen = false;
  
  private void ToggleSidebar()
  {
    _sidebarOpen = !_sidebarOpen;
  }

}