@page "/Bindings"

<PageTitle>Bindings</PageTitle>

<h1>Binding Progression Tree</h1>
<MudDivider></MudDivider>
&nbsp;

@* Information *@
<MudPaper Class="bg-transparent" Style="display: flex; flex-direction: row; align-items: center;">
    <MudAlert Dense="true" Variant="Variant.Outlined" Severity="Severity.Success">Points: @Points.pointsDisplay</MudAlert>
    <MudAlert Dense="true" Severity="@BindingTreesService.lastLogSeverity">Last Event: @BindingTreesService.lastLog </MudAlert>
    <MudAlert Dense="true" Severity="Severity.Info">@hoverBindingDescription </MudAlert>
</MudPaper>

&nbsp;
<MudDivider></MudDivider>
&nbsp;

@inject IDialogService DialogService

<CascadingValue Value="this">
    <div style="position: relative;">
        @foreach (Binding binding in BindingTreesService.bindingsList)
        {
            <MudPaper Style="@($"position: absolute; left: {binding.Position.X * 100}px; top: {binding.Position.Y * 100}px; width: 150px; height: 80px; display: flex; flex-direction: row; align-items: center;")"
                      Class="p-2">
                <div @onmouseover="() => btnHoverShowInfo(binding)">
                    <MudText Align="Align.Center" Typo="Typo.h6">@binding.Name @binding.PointValue</MudText>
                    @if (binding.isLocked)
                    {
                        <MudIcon Style="position: center" 
                        Icon="@Icons.Material.Filled.Lock" 
                        Color="Color.Success" />
                    }
                    else
                    {
                        @if (binding.isOwned && binding.CanBeLocked)
                        {
                            <MudButton 
                            Disabled="@(BindingTreesService.padlocks.Owned < 1)"
                            Style="position: center" 
                            OnClick="@(() => LockBinding(binding))" 
                            Color=" Color.Success">Lock
                            </MudButton>
                        }

                        @if (binding.isOwned)
                        {
                            if (binding.isPrereqLocked)
        					{
                                <MudButton Disabled="true" Style="position: center"
                                Color=" Color.Error">Prerequisite</MudButton>
                            }
                            else
                            {
                                <MudButton Style="position: center"
                                OnClick="@(() => SellBinding(binding))"
                                Color=" Color.Error">Sell</MudButton>
                            }
                        }
                        else
                        {
                            <MudButton Style="position: center"
                                OnClick="@(() => BuyBinding(binding))" 
                                Color=" Color.Success">Buy</MudButton>
                        }
                    }
                </div>
            </MudPaper>
        }
        @if (BindingTreesService.padlocks.Enabled)
        {
            <MudPaper Style="@($"position: absolute; left: {BindingTreesService.padlocks.Position.X * 100}px; top: {BindingTreesService.padlocks.Position.Y * 100}px;")" Class="p-2">
				<MudText Typo="Typo.h6">Padlock</MudText>
				<MudButton 
                    Disabled="@(BindingTreesService.padlocks.Owned >= BindingTreesService.padlocks.Limit)"
                    OnClick="@(() => BuyPadlock())" 
                    Color="Color.Primary" >Buy
                </MudButton>
			</MudPaper>
		}
    </div>
</CascadingValue>