@page "/Bindings"

<PageTitle>Bindings</PageTitle>

<h1>Binding Progression Tree</h1>
<MudDivider></MudDivider>
&nbsp;

@* Information *@
<MudPaper Class="bg-transparent" Style="display: flex; flex-direction: row; align-items: center;">
    <MudAlert Dense="true" Variant="Variant.Outlined" Severity="Severity.Success">Points: @PointsService.pointsTruncated</MudAlert>
    <MudAlert Dense="true" Severity="@BindingTreesService.lastLogSeverity">Last Event: @BindingTreesService.lastLog </MudAlert>
    <MudAlert Dense="true" Severity="Severity.Info">@hoverBindingDescription </MudAlert>
</MudPaper>

&nbsp;
<MudDivider></MudDivider>
&nbsp;

<CascadingValue Value="this">
    <div style="position: relative;">
        @foreach (Binding binding in BindingTreesService.bindingsList)
        {
            string classString = "p-2; border-1";
            @if (binding.isReplacerOwned)
            {
                classString = "p-2; border-1; opacity-50";
			}
            else if (!binding.isSubPrereqMet)
            {
                classString = "p-2; border-1; opacity-25";
            }
            else if (binding.isReplaceLocked)
            {
                classString = "p-2; border-1; opacity-25";
            }


            <MudPaper Style="@($"position: absolute; left: {binding.Position.X * 110}px; top: {binding.Position.Y * 110}px; width: 180px; height: 90px; display: flex; flex-direction: row; align-items: center; z-index:5")" Class="@classString">
                <div @onmouseover="() => btnHoverShowInfo(binding)">
                    <MudText Align="Align.Left" Typo="Typo.body1">&nbsp;&nbsp;@binding.Name</MudText>
                    @if (binding.isLocked)
                    {
                        <MudIcon Style="position: center" 
                        Icon="@Icons.Material.Filled.Lock" 
                        Color="Color.Success" />

                        <MudButton Disabled="true" Style="position: center" Color=" Color.Error">Locked</MudButton>
                    }
                    else
                    {
                        @if (binding.isOwned && binding.CanBeLocked && BindingTreesService.padlocks.Enabled && !binding.isReplacerOwned)
                        {
                            <MudButton 
                            Disabled="@(BindingTreesService.padlocks.Owned < 1)"
                            Style="position: center" 
                            OnClick="@(() => LockBinding(binding))" Color=" Color.Success">Lock</MudButton>
                        }

                        @if (binding.isOwned)
                        {
                            if (binding.isParentOwned)
                            {
                                if (!binding.CanBeLocked)
                                {
                                    <MudButton Disabled="true" Style="position: center" Color=" Color.Error">Prerequisite</MudButton>
                                }
                            }
                            else if (binding.CanBeSold)
                            {
                                <MudButton Style="position: center" OnClick="@(() => SellBinding(binding))" Color=" Color.Error">Sell</MudButton>
                            }
                        }
                        else
                        {
                            if (binding.ConsumableCount != -1)
                            {
                                <MudButton Disabled="(binding.ConsumableCount < 1)" Style="position: center" OnClick="@(() => BuyBinding(binding))" Color=" Color.Success">Add $@binding.PointValue (@binding.ConsumableCount left)</MudButton>
                            }
                            else if (!binding.isPrereqMet)
                            {
                                if (!binding.isSubPrereqMet)
                                {
                                    <MudButton Disabled="true" Style="position: center" Color=" Color.Error">Buy - $@binding.PointValue</MudButton>
                                }
                                else
                                {
                                    <MudButton Style="position: center" OnClick="@(() => BuyBinding(binding))" Color=" Color.Warning">Buy - $@binding.PointValue</MudButton>
                                }
							}

							else
							{
                                <MudButton Style="position: center" OnClick="@(() => BuyBinding(binding))" Color=" Color.Success">Buy - $@binding.PointValue</MudButton>
							}
                        }
                    }
                </div>
            </MudPaper>

            @*          
            @foreach (string prereq in binding.Prerequisites)
            {
                //draw lines between the binding and prereqs, behind the mudpaper
                Binding prereqBinding = BindingTreesService.bindingsList.Find(x => x.Name == prereq);
                if (prereqBinding != null)
				{
					string lineStyle = $"position: absolute; left: {binding.Position.X * 110 + 90}px; top: {binding.Position.Y * 110 + 45}px; width: {prereqBinding.Position.X * 110 + 90 - (binding.Position.X * 110 + 90)}px; height: {prereqBinding.Position.Y * 110 + 45 - (binding.Position.Y * 110 + 45)}px; border: 1px solid black; z-index: -1;";
					<div style="@lineStyle"></div>
				}
            } 
            *@
        }
        @if (BindingTreesService.padlocks.Enabled)
        {
            <MudPaper Style="@($"position: absolute; left: {BindingTreesService.padlocks.Position.X * 110}px; top: {BindingTreesService.padlocks.Position.Y * 110}px;")" Class="p-2">
                <MudText Typo="Typo.body1">Locks: (@BindingTreesService.padlocks.OwnedUsed) out of @BindingTreesService.padlocks.Limit</MudText>
                @if (BindingTreesService.padlocks.OwnedUsed < @BindingTreesService.padlocks.Limit)
                {
                    <MudButton OnClick="@(() => BuyPadlock())" Color="Color.Primary">Buy - $@BindingTreesService.padlocks.Cost</MudButton>
                }
                else
                {
                    <MudButton Disabled="true" OnClick="@(() => BuyPadlock())" Color="Color.Error">Max Reached</MudButton>
                }
            </MudPaper>
		}
    </div>
</CascadingValue>

<MudImage Src="images/Bindings.png" Class="opacity-50" Style="position: absolute; right: 5%; bottom: 0%; height: 70%; z-index:0;" />
