@page "/Bindings"

<PageTitle>Bindings</PageTitle>

<h1>Binding Progression Tree</h1>
<MudDivider></MudDivider>
&nbsp;

@inject IDialogService DialogService

<CascadingValue Value="this">
    <div style="position: relative;">
        @foreach (BindingTreesService.Binding binding in BindingTreesService.bindingsList)
        {
            <MudPaper Style="@($"position: absolute; left: {binding.Position.X * 100}px; top: {binding.Position.Y * 100}px;")" Class="p-2">
                <div @onmouseover="() => btnHoverShowInfo(binding)">
                    <MudText Typo="Typo.h6">@binding.Name</MudText>
                    @if (binding.isOwned)
                    {
                        <MudIcon Icon="@Icons.Filled.Lock" Color="Color.Primary" />
                    }
                    <MudButton OnClick="@(() => btnBuyBinding(binding))" Color="Color.Primary">Buy</MudButton>
                    <MudButton OnClick="@(() => btnSellBinding(binding))" Color="Color.Secondary">Sell</MudButton>
                </div>
            </MudPaper>
        }
    </div>

    <MudPaper Class="p-4" Style="position: fixed; top: 0; width: 100%;">
        <MudText>Bla Bla Bla current info</MudText>
    </MudPaper>
</CascadingValue>