@page "/Games&Points"

<PageTitle>Games & GamePoints </PageTitle>

<h1>Games & GamePoints</h1>
<MudDivider></MudDivider>
&nbsp;

<MudGrid Style="width: 1500px; height: 100px">

    @* GamePoints *@
    <MudItem xs="3">
		<h2>GamePoints</h2>

        <MudGrid Justify="Justify.Center" Style="width: 300px;align-items:center">
            <MudItem xs="4">
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="btnAddWhole" Style="background-color: #00C853; color: white; width: 88px; height: 62px; font-size: 18pt;">+1</MudButton>
            </MudItem>
            <MudItem xs="4">
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="btnAddThird" Style="background-color: #00C853; color: white; width: 88px; height: 62px; font-size: 18pt;">+1/3</MudButton>
            </MudItem>
            <MudItem xs="4">
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="btnAddFourth" Style="background-color: #00C853; color: white; width: 88px; height: 62px; font-size: 18pt;">+1/4</MudButton>
            </MudItem>
                
            <MudItem xs="12">
                <MudItem>
                    <MudText Typo="Typo.h6" Align="Align.Center">Total: @Points.pointsWhole</MudText>
                </MudItem>
                <MudItem>
                    @if (Points.pointsTotal >= 0)
				    {
                        <MudProgressLinear Class="mt-4" Size="Size.Large" Rounded="true" Variant="Variant.Determinate" Value="@Points.pointsPartial" Color="Color.Success" Style="height: 35px;width: 288px"/>
				    }
				    else
				    {
                        <MudProgressLinear Class="mt-4" Size="Size.Large" Rounded="true" Variant="Variant.Determinate" Value="@Points.pointsPartialFlipped" Color="Color.Error" Style="offset-rotate: reverse;height: 35px" />
				    }
                @* @GamePoints.pointsTotal @GamePoints.pointAddStreak *@
                </MudItem>
            </MudItem>

            <MudItem xs="4">
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="btnSubWhole" Style="background-color: #F44336; color: white; width: 88px; height: 62px; font-size: 18pt;">-1</MudButton>
            </MudItem>
            <MudItem xs="4">
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="btnSubThird" Style="background-color: #F44336; color: white; width: 88px; height: 62px; font-size: 18pt;">-1/3</MudButton>
            </MudItem>
            <MudItem xs="4">
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="btnSubFourth" Style="background-color: #F44336; color: white; width: 88px; height: 62px; font-size: 18pt;">-1/4</MudButton>
            </MudItem>

            </MudGrid>
    </MudItem>

    @* Games *@
    <MudItem xs="9">
            <h2>Game: @Points.gameSelected</h2>
            @* Select Field *@
            <MudItem>
				<MudSelect Label="Select Game" @bind-Value="Points.gameSelected" Variant="Variant.Filled" Color="Color.Success" Style="width: 300px">
                @foreach (var game in Points.gamesList)
					{
						<MudSelectItem Value="@game" Style="width: 300px">@game</MudSelectItem>
					}
				</MudSelect>
            </MudItem>
    </MudItem>

</MudGrid>
