@page "/Settings"
@using ZeniControlSuite.Authentication
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, LocalHost")]

<PageTitle>Settings</PageTitle>
<MudDivider></MudDivider>

<br/>
<br/>

<div>
    <MudSwitch Label="Avatar Controls" @bind-Value="@AvatarControls.pageEnabled" Color="Color.Info" />
    <br>
    <MudSwitch Label="Avatar Select" @bind-Value="@AvatarSelect.pageEnabled" Color="Color.Info" />
    <br>
    <MudSwitch Label="Games & Points" @bind-Value="@GamesPoints.pageEnabled" Color="Color.Info" />
    <br>
    <MudSwitch Label="Bindings" @bind-Value="@Bindings.pageEnabled" Color="Color.Info" />
    <br>
    <MudSwitch Label="Devices" @bind-Value="@Devices.pageEnabled" Color="Color.Info" />
    <br>
    <MudSwitch Label="App Debug Mod" @bind-Value="@Settings.AppDebug" Color="Color.Info" />
    <br>
</div>


<br />



@*reload DiscordUsers.Json*@
<MudButton OnClick="@(() => { Whitelist.loadDiscordUsersJson(); })">Reload Discord Users Json</MudButton>

@code {
    public static bool AppDebug = false;
}